/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Estilo global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 20px;

    background: url('imagen/DSC_9960.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Color oscuro con opacidad */
    z-index: -1; /* Detrás de todo */
}



.grid-container {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "header"
        "aside"
        "section"
        "footer";
    grid-template-rows: 100px 200px auto 100px;
}

/* Estilos de las áreas */
.header {
    grid-area: header;
    background-color: rgb(49, 1, 30);
}

.aside {
    grid-area: aside;
    background-color: rgb(214, 193, 166);
}

.section {
    grid-area: section;
    background-color: rgb(241, 222, 199);
}

.footer {
    grid-area: footer;
    background-color: rgb(19, 19, 19);
}

/* Estilos compartidos */
.grid-container > header,
.grid-container > aside,
.grid-container > section,
.grid-container > footer {
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

/* Media query para pantallas grandes */
@media (min-width: 992px) {
    .grid-container {
        grid-template-areas: 
            "header header"
            "aside section"
            "footer footer";
        grid-template-rows: 100px 400px 100px;
        grid-template-columns: 1fr 2fr;
    }
}
